body{
    min-height: 100vh; 
}
.custom-card {
   position: relative;
   min-height: 100vh;
}

.custom-align {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-text {
    color: black;
}