/*Setting the minimum height for the screen*/
body {
  min-height: 100vh;
}

/*aligning the contents in the card container to the centre of the page*/
.custom-align {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  -ms-transform: translateY(-50%);
  transform: translateY(100%);
  
}

.custom-align header {
  position: relative;
  justify-content: left;
  margin-top: -70px;
  padding: 5px;
  border: 1px solid black;
  font-size: 150%;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
/*changing text color*/
.custom-text {
  color: black;
}
/*background image*/
.background-img {
    width: 100%;
    height: 100vh;
    background-image: url("../images/gif-word-made-square-letter-tiles-turquoise-background-209011788.jpg");
    background-size: cover;
    background-position: center;
}
