/*Setting the minimum height for the screen*/
body {
  min-height: 100vh;
}
/* Custom CSS for positioning the search box*/
.custom-box {
  position: fixed;
  top: 10;
  left: 0;
}

@keyframes example {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: black;}
}

/*changing text color*/
.custom-text {
  color: black;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
/*background image*/
.background-img {
  width: 100%;
  height: 100vh;
  background-image: url("../images/gif-word-made-square-letter-tiles-turquoise-background-209011788.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .custom-box {
    position: relative;
  }
}
